
<!-- <app-navbar-admin></app-navbar-admin> -->
<div  class="bg">
<h1>WELCOME</h1>
<html>
  <div class="Login">
    <h1>signin</h1>
    <form [formGroup]="signinUser" (ngSubmit)="submitForm()">
      <div class="mb-3">
        <label for="username" class="form-label"><b>UserName</b></label>
        <input type="text" formControlName="username" id="username" class="form-control" placeholder="Enter UserName" />
        <div *ngIf="signinUser.controls['username'].invalid && signinUser.controls['username'].touched"
          class="error-message">Please Enter valid</div>
      </div>

      <div class="mb-3" style="position: relative;">
        <label for="password" class="form-label title"><b>Password</b></label>
        <input type="password" formControlName="password" class="form-control" id="password"
          placeholder="Enter Password">
        <div *ngIf="signinUser.get('password')?.invalid && signinUser.get('password')?.touched" class="error-message">
          Required</div>
      </div>

      <div>
        <button type="submit" class="btn btn-success">Login</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn btn-danger cancel" (click)="goBack()">Cancel</button>
      </div>
    </form>
    <p>
      New User? <a routerLink="/register">Click here</a> to sign up.
    </p>
  </div>

</html>
</div>