*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(57, 54, 54, 0.75), rgba(0, 0, 0, 0.75)), url('https://img.freepik.com/premium-photo/indian-train_1498-1.jpg?size=626&ext=jpg&ga=GA1.2.1274437219.1670999544&semt=sph');
    background-size: cover;
    background-position: center;
}
.navbar{
    
    width: 85%;
    margin:auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('/assets/lll.jpeg'); */
    width: 80px;
    cursor: pointer;
    position: relative; /* Add relative positioning to the container */
    background-color: rgba(11, 10, 10, 0.5); /* Adjust the color and opacity as needed */
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}


.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}
.navbar ul li a{
    text-decoration: none;
    color: #ffff;
    text-transform: uppercase;

}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;

}
.navbar ul li:hover::after{
    width: 100%;

}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;

}
.content p{
    margin: 20px;
    font-weight:100;
    line-height: 25px;

}