.nav-link{
  color: aliceblue;
  font-size: 15px;
  border-radius: 5px;
  }
  
  /* .container-fluid{  
      background-image: url('/assets/adminpage.jpg');
      background-repeat: no-repeat;
      height: 100vh;
  }  */
  
  
  
  /* CSS for Navbar */
  .navbar {
      position: relative;
    }
    
    .nav-item.dropdown:hover .dropdown-menu {
      display: block;
      position: absolute;
      right: 0;
      top: 100%;
      width: auto; /* Adjust the width as needed */
      max-width: 100%; /* Ensure the dropdown doesn't exceed the viewport width */
      white-space: nowrap; /* Prevent line breaks in dropdown items */
      overflow-x: hidden; /* Hide horizontal overflow */
      max-height: calc(100vh - 56px); /* Adjust the max-height as needed */
      overflow-y: auto; /* Add a scrollbar if necessary */
    }
    
    



/* Background color for the navigation links */
.navbar-nav .nav-link:hover {
  background-color: #090a09; /* Background color when hovered */
  text-decoration: none; /* Remove underline on hover */
}

  